@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&family=Urbanist:wght@300;400;500;600;700&display=swap');

body{
  margin: 0;
  font-family: "Urbanist" serif;
  background-color: #f3f3f3;
  height: 100vh;
}